<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Get Those Chickens!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/chickens.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Sunflower:300" rel="stylesheet">
	</head>
	<body>
    {{!-- <audio id="spawn-chicken" src="yoursound.mp3" preload="auto"></audio>
    <audio id="kill-chicken" src="yoursound.mp3" preload="auto"></audio>
    <audio id="destroy" src="yoursound.mp3" preload="auto"></audio> --}}
		{{{ body }}}
	</body>
</html>
